body {
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
}

#TitrePrincipal {
    border: 5px white solid;
    border-radius: 20px;
    color: darkmagenta;
}

#gl {
    color: #002752;
}

#EntrezLeNombre {
    font-size: 20px;
    color: darkblue;
}

#Nombre {
    margin-left: 100px;
}

#TEXT {
    font-size: 20px;
    color: darkred;
}

#Bouton {
    margin-top: 40px;
    background-color: white;
    color: darkblue;
}

#Jeu {
    margin-left: 150px;
}

#Replay {
    background-color: white;
    color: darkblue;
}

#Historique {
    color: rebeccapurple;
    border: white solid;
    border-radius: 30px;
}

#Indication {
    color: rebeccapurple;
    top: 30px;
}

